p {
    font-size: 25px;
}

#arena {
    height:90%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border: 5px solid green;
    
}
#scoreDisplay{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
//to prevent the game from being bigger than the screen with widescreen monitors 
html, body {margin: 0; height: 100%; overflow: hidden}